
@* //Main Wrappper// *@

@* <div class="main-wrapper">

	<div class="header bg-warning">
		<div class="main-header">

			@* <div class="header-left">
				<a href="index.html" class="logo">
					<img src="/Dashboard/img/logo-small.svg" alt="logo" />
				</a>

				<a href="index.html" class="dark-logo">
					<img src="~/Dashboard/img/logo-white.svg" alt="logo" />
				</a>
			</div> *@

			@* <div class="header-user">
				<div class="nav user-menu nav-list">

					<div class="me-auto d-flex align-items-center" id="header-search">
						<a id="toggle_btn" href="javascript:void(0)" class="btn btn-menubar me-1">
							<i class="ti ti-arrow-bar-to-left"></i>
						</a>


						<div class="input-group input-group-flat d-inline-flex me-1"></div>
					<span class="input-icon-addon">
						<i class="ti ti-search"></i>
					</span>

					<input type="text" class="form-control" placeholder="Search in FossTech" />
					<span class="input-group-text">
						<kbd>CTRL + /</kbd>
					</span>a
					</div> 


					@* SEARCH *@

					@* <div class="dropdown crm-dropdown">
						<a href="#" class="btn btn-menubar me-1" data-bs-toggle="drodown">
							<i class="ti ti-layout-grid"></i>
						</a>
						<li>Contact</li>

						<div class="dropdown-menu dropdown-lg dropdown-menu-start">
							<div class="card mb-0 border-0 shadow-none">
								<div class="card-header">
									<h4>FOSSTECH</h4>
								</div> *@


			@* 					<div class="card-body pb-1">
									<div class="row">
										<div class="col-sm-6">
											<a href="contacts.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
												<span class="d-flex align-items-center me-3">
													<i class="ti ti-user-shield text-default me-2">Contacts</i>
												</span>
												<i class="=ti ti-arrow-right"></i>
											</a>

											<a href="deals-grid.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
												<span class="d-flex align-items-center me-3">
													<i class="ti ti-heart-handshake text-default me-2"></i>Deals
												</span>
												<i class="ti ti-arrow-right"></i>
											</a>

											<a href="pipeline.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
												<span class="d-flex align-items-center me-3">
													<i class="ti ti-timeline-event-text text-default me-2"></i>Pipeline
												</span>
												<i class="ti ti-arrow-right"></i>
											</a>
										</div>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>  *@