@* SIDEBAR *@

<div class="sidebar" id="sidebar">

    @* LOGO *@
    <div class="sidebar-logo">

        <a href="index.html" class="logo logo-email">
            <img src="~/Dashboard/img/logo.svg" alt="logo" />
        </a>

        <a href="index.html" class="logo-small">
            <img src="~/Dashboard/img/logo-small.svg" alt="logo" />
        </a>

        <a href="index.html" class="dark-logo">
            <img src="~/Dashboard/img/logo-white.svg" alt="logo" />
        </a>
    </div>


    </div>
