@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="background-image: url('images/banner-1.jpg'); background-repeat:no-repeat; background-size:cover;">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 pt-5 mt-5">
                <h2 class="display-1 ls-1"><span class="fw-bold text-primary">Organic</span>Foods at your<span class="fw-bold">Doorsteps</span></h2>
                <p class="fs-4">Dignissim massa diam elementum.</p>


                <div class="d-flex gap-3">
                    <a href="#" class="btn btn-primary text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Start Shopping</a>
                    <a href="#" class="btn btn-primary text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Join Now</a>
                </div>


                <div class="row my-5">
                    <div class="col">
                        <div class="row text-dark">
                            <div class="col-auto">
                                <p class="fs-1 fw-bold lh-sm mb-0">14k+</p>
                            </div>
                            <div class="col">
                                <p class="text-uppercase lh-sm mb-0">Product Variety</p>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="row text-dark">
                            <div class="col-auto">
                                <p class="fs-1 fw-bold lh-sm mb-0">50k+</p>
                            </div>

                            <p class="text-uppercase lh-sm mb-0">Happy Customers</p>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="row text-dark">
                        <div class="col-auto">
                            <p class="fs-1 fw-bold lh-sm mb-0">10+</p>
                        </div>
                        <div class="col">
                            <p class="text-uppercase lh-sm mb-0">Store Locations</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>


    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center">
        <div class="col-md-4">
            <div class="card border-0 bg-primary rounded-0 p-4 text-light">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <svg width="60" height="60">
                            <use xlink:href="#fresh"></use>
                        </svg>
                    </div>

                    <div class="col-md-9">
                        <div class="card-body p-0">
                            <h5 class="text-light">Fresh from Farm</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet,</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class=" border-0 bg-secondary rounded-0 p-4 text-light">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <svg width="60" height="60">
                            <use xlink:href="#organic"></use>
                        </svg>
                    </div>

                    <div class="col-md-9">
                        <div class="card-body p-0">
                            <h5 class="text-light">100% Organic</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card border-0 bg-danger rounded-0 p-4 text-light">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <svg width="60" height="60">
                            <use xlink:href="#delivery"></use>
                        </svg>
                    </div>

                    <div class="col-md-9">
                        <div class="card-body p-0">
                            <h5 class="text-light">Free Delivery</h5>
                            <p class="card-text">Lorem ipsum sit amet,consectetur adipi elit. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 overflow-hidden">
    <div class="container-lg">
        <div class="row">


            <div class="col-md-12">
                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Category</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary me-2">View All</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">

                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-1.jpg" class="rounded-circle" alt="Category Thumbnail" />
                            <h4 class="fs-6 mt-3 fw-normal category-title">Fruits & Veges</h4>
                        </a>

                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-2.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Breads & Sweets</h4>
                        </a>

                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-4.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Beverages</h4>
                        </a>


                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-5.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Meat Products</h4>
                        </a>


                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-7.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Eggs</h4>
                        </a>

                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-6.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Green Vegetables</h4>
                        </a>

                        <a href="category.html" class="nav-link swiper-slide text-center">
                            <img src="images/category-thumb-3.jpg" class="rounded-circle" alt="Category Thumbnail">
                            <h4 class="fs-6 mt-3 fw-normal category-title">Natural Juices</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container-fluid">
        <div class="row">


            <div class="d-flex justify-content-between align-items-center" style="max-width: 600px;">
                <!-- Heading -->
                <h2 class="fw-bold fs-3 mb-0">Best Selling Products</h2>
            </div>


            <div class="col-lg-6 text-end ms-auto p-3">
                <button class="navbar-toggler btn btn-danger align-items-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="#menu"></use>
                    </svg>
                </button>
            </div>



            <div class="container">
                <div class="row g-4 d-flex justify-content-center">

                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-1.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Whole Wheat Sourdough</h6>
                                <p class="card-text text-muted small mb-2">₹199</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-3.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Triangle Cheese </h6>
                                <p class="card-text text-muted small mb-2">₹120</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-4.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Jalapeno</h6>
                                <p class="card-text text-muted small mb-2">₹85</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-5.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Bangda Fish </h6>
                                <p class="card-text text-muted small mb-2">₹410 Piece</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-6.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Bangda Fish</h6>
                                <p class="card-text text-muted small mb-2">₹360</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-7.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1"> Indian Blueberry</h6>
                                <p class="card-text text-muted small mb-2">₹80 Piece</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-8.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1"> Red Bell Pepper</h6>
                                <p class="card-text text-muted small mb-2">₹620</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-9.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Pedigree </h6>
                                <p class="card-text text-muted small mb-2">₹345</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-10.png" class="card-img-top p-3 mx-auto" alt="Product 2" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Desi Ghee </h6>
                                <p class="card-text text-muted small mb-2">₹480</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container-fluid">

        <div class="row">

            <div class="d-flex justify-content-between align-items-center" style="max-width: 600px;">
                <!-- Heading -->
                <h2 class="fw-bold fs-3 mb-0">Featured Products</h2>
            </div>


            <div class="col-lg-6 text-end ms-auto p-3">
                <button class="navbar-toggler btn btn-danger align-items-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="#menu"></use>
                    </svg>
                </button>
            </div>


            <div class="container">

                <div class="row g-4 d-flex justify-content-center">

                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-12.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Fryums</h6>
                                <p class="card-text text-muted small mb-2">₹75</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-13.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Mosambi</h6>
                                <p class="card-text text-muted small mb-2">₹110</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-14.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Mamy Poko Pants</h6>
                                <p class="card-text text-muted small mb-2">₹875</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-15.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Mushroom</h6>
                                <p class="card-text text-muted small mb-2">₹70</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-16.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Green Lettuce</h6>
                                <p class="card-text text-muted small mb-2">₹150</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-17.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Sourdough</h6>
                                <p class="card-text text-muted small mb-2">₹235</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-18.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Indian Plum</h6>
                                <p class="card-text text-muted small mb-2">₹280</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-19.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Stayfree</h6>
                                <p class="card-text text-muted small mb-2">₹2580</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-20.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Plush</h6>
                                <p class="card-text text-muted small mb-2">₹990</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-21.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Saffola Oats</h6>
                                <p class="card-text text-muted small mb-2">₹220</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-22.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Ferrero Rocher</h6>
                                <p class="card-text text-muted small mb-2">₹870</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>


                    <!-- Product Item -->
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="card text-center border-0 shadow-sm">
                            <img src="/images/product-thumb-23.png" class="card-img-top p-3 mx-auto" alt="Product 1" style="height:150px; width:200px">
                            <div class="card-body p-2">
                                <h6 class="card-title fw-semibold mb-1">Raw Mango Powder</h6>
                                <p class="card-text text-muted small mb-2">₹439</p>
                                <button class="btn btn-outline-success btn-sm rounded-pill w-100">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>


<section>
        <div class="container-lg">
    <div class="bg-tertiary text-light py-5 my-5" style="background: url('images/banner-ad-3.jpg') no-repeat; background-size:cover;">/
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-3">
                    <div class="section-header">
                        <h2 class="fs-3 flex-wrap-reverse justify-content-lg-end text-warning py-2" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight:300">Get 30% Discount for Your First Order</h2>
                    </div>
                        <p class="bg-danger text-tertiary fs-6 fw-bolder py-2" style="font-display:inherit; padding-left:2px; margin-left:2px; font-family:'Times New Roman', Times, serif; font-weight:200">Hurry Offer Ends, Today</p>
                </div>

                    <div class="container my-4" style="max-width: 500px;">
                        <form>
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="username" class="form-label fw-semibold">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter your username">
                            </div>

                            <!-- Email -->
                            <div class="mb-3">
                                <label for="email" class="form-label fw-semibold">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            </div>

                            <!-- Submit -->
                            <button type="submit" class="btn btn-success w-100">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        </div>  
</section>





@section Styles{
    <style>
        .section-header{
            --bs-text-opacity:1;
           
        }
    </style>
}




